<div class="form-actions">
  <a class="close" href="#">&times;</a>
  <div class="controls span5">
    <label><b>Title</b></label>
    <input class="span5" type="text" placeholder="Title" value="<%= title %>">
  </div>
  <div class="controls span5">
    <label><b>Link</b></label>
    <input class="span5" type="text" placeholder="Link" value="<%= link %>">
  </div>
  <div class="controls span5">
    <label><b>Text</b></label>
    <textarea class="span5" rows="5"><%= text %></textarea>
  </div>
  <div class="controls span5">
    <label><b>Images</b></label>
    <input type="file">
    <input type="file">
    <input type="file">
  </div>
</div>