<div class="masthead">
  <h3 class="muted">Não Tem Preço - Admin</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Usuários</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>