<form action="">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Hero</a></li>
      <li><a href="#tab2" data-toggle="tab">Destaques</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">

        <ul class="nav nav-pills">
          <li>
            <a href="#" class="bt_add_form" data-template="hero_form">+ Adicionar novo item</a>
          </li>
        </ul>

        <div class="form-actions">
          <a class="close" href="#">&times;</a>
          <div class="controls span5">
            <label><b>Title</b></label>
            <input class="span5" type="text" placeholder="Title">
          </div>
          <div class="controls span5">
            <label><b>Link</b></label>
            <input class="span5" type="text" placeholder="Link">
          </div>
          <div class="controls span5">
            <label><b>Text</b></label>
            <textarea class="span5" rows="5"></textarea>
          </div>
          <div class="controls span5">
            <label><b>Images</b></label>
            <input type="file">
            <input type="file">
            <input type="file">
          </div>
        </div>

        <p class="bt_submit">
          <button type="submit" class="btn">Submit</button>
        </p>

      </div>
      <div class="tab-pane" id="tab2">

        <ul class="nav nav-pills">
          <li>
            <a href="#" class="bt_add_form" data-template="highlights_form">+ Adicionar novo item</a>
          </li>
        </ul>

        <div class="form-actions">
          <a class="close" href="#">&times;</a>
          <div class="controls span5">
            <label><b>Title</b></label>
            <input class="span5" type="text" placeholder="Title">
          </div>
          <div class="controls span5">
            <label><b>Link</b></label>
            <input class="span5" type="text" placeholder="Link">
          </div>
          <div class="controls span5">
            <label><b>Text</b></label>
            <textarea class="span5" rows="5"></textarea>
          </div>
          <div class="controls span5">
            <label><b>Images</b></label>
            <input type="file">
          </div>
        </div>

        <p class="bt_submit">
          <button type="submit" class="btn">Submit</button>
        </p>

      </div>
    </div>
  </div>
</form>